body {
    margin: 0;
  }
  
  .top-container {
    background-image: url("https://images.unsplash.com/photo-1708977843956-c6c4b5dfd900?q=80&w=1964&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .top-container h1 {
    color: white;
    font-size: 50px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 2px;
  }
  
  .text {
    margin: 50px 5%;
    font-family: sans-serif;
  }
  
  .navbar {
    display: flex;
    position: fixed;
    background-color: white;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: background-color 0.4s;
  }
  
  .navbar ul {
    
    list-style-type: none;
  }
  
  .navbar ul li a {
    text-decoration: none;
    margin: 0 10px;
    color: black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  .navbar ul li a:hover {
    color: lightgreen;
  }
  
  .navbar.active {
    background-color: darkorchid;
  }
  
  .navbar.active ul li a {
    color: white;
  }

  .sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index:999;
    background-color: rgba(255, 255, 255, 0.095);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    backdrop-filter: blur(10px);
  }

  .sidebar li{
    width:100%;
  }
  
  .mp{
     display: flex;
  }

  .df{
    display:flex;
  }
  .menu-btn{
    display:none;
  }
  @media(max-width:800px){
    .hideonMobile{
      display:none;
    }
    .menu-btn{
      display:block;
    }
  }
  @media(max-width:400px){
    .sidebar{
      width:100%;
      
    }
  }
  